@page "/teste/{idQuestion:int}"
@using MudBlazor
@using POCA.Web

@if (emAndamento)
{
    <div>@Questoes[posicao].QuestionText</div>
    <MudRadioGroup T="int" Label="@Questoes[posicao].QuestionText" @bind-Value="SelectedAnswers[posicao]">
        @foreach (var (opcao, index) in Questoes[posicao].Options.Select((o, i) => (o, i)))
        {
            <MudRadio Value="@index">@opcao</MudRadio>
        }
    </MudRadioGroup>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="NextQuestion">
        @(posicao == Questoes.Count - 1 ? "Ver Resultados" : "Próxima Questão")
    </MudButton>
}

@if (!emAndamento)
{
    <h3>Resultados:</h3>
    @for (int i = 0; i < Questoes.Count; i++)
    {
        <p>
            <strong>Pergunta @(i + 1):</strong> @Questoes[i].QuestionText<br />
            Opção selecionada: @Questoes[i].Options[SelectedAnswers[i]] (@(SelectedAnswers[i] == Questoes[i].CorrectAnswerIndex ? "Correta" : "Incorreta"))<br />
            Resposta correta: @Questoes[i].Options[Questoes[i].CorrectAnswerIndex]
        </p>
    }
}

@code {
    [Parameter]
    public int idQuestion { get; set; }

    protected List<Question> Questoes { get; set; } = new();
    protected List<int> SelectedAnswers { get; set; } = new();
    protected List<Boolean> CorrectList { get; set; } = new();
    private Boolean emAndamento;
    private int posicao;

    protected override void OnInitialized()
    {
        Questoes = new List<Question>
        {
            new Question("Qual é a capital da França?", new List<string> { "Madrid", "Paris", "Londres", "Berlim" }, 1),
            new Question("Quanto é 2 + 2?", new List<string> { "3", "6", "5", "4" }, 3),
            new Question("Qual o maior planeta do sistema solar?", new List<string> { "Júpiter", "Terra", "Marte", "Saturno" }, 0)
        };

        CorrectList = new List<Boolean>(new Boolean[Questoes.Count]);
        SelectedAnswers = new List<int>(new int[Questoes.Count]);
        posicao = 0;
        emAndamento = true;
    }



    private void NextQuestion()
    {
        if (posicao <= Questoes.Count) 
        {
            posicao++;
        }
        else
        {
            emAndamento = false;
        }
    }
}
